@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="verifysuccess-box-main">
    <div class="container text-center">
        <h1 class="display-4">Verificación existosa</h1>
        <p class="lead mb-3">Tu cuenta ha sido verificada correctamente.</p>
        <a href="@Url.Action("Index", "Account")" class="btn hvr-hover" style="text-align: center; border: none; color: #ffffff; font-size: 18px; font-weight: 700;">IR A TU CUENTA</a>
    </div>
</div>