@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="verifyfail-box-main">
    <div class="container text-center">
        <h1 class="display-4">Verificación errónea</h1>
        <p class="lead mb-3">La verificación ha fallado o el enlace ha expirado, vuelva a solicitar un correo de verificación desde la configuración de su cuenta.</p>
        <a href="@Url.Action("Index", "Account")" class="btn hvr-hover" style="text-align: center; border: none; color: #ffffff; font-size: 18px; font-weight: 700;">IR A TU CUENTA</a>
    </div>
</div>