@{
    ViewBag.Title = "Sobre nosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>SOBRE NOSOTROS</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">INICIO</a></li>
                    <li class="breadcrumb-item active">SOBRE NOSOTROS</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="noo-sh-title">Somos <span>Sole Stock Solutions</span></h2>
                <p>
                    En Sole Stock Solutions, nos especializamos en la compraventa de zapatillas exclusivas. Nuestro objetivo es ofrecer a nuestros clientes los modelos más codiciados y difíciles de encontrar en el mercado. Nos apasiona el mundo de las zapatillas y entendemos la importancia de poseer un par único y especial. Trabajamos incansablemente para asegurarnos de que nuestros clientes tengan acceso a las últimas ediciones limitadas y colaboraciones exclusivas.
                </p>
                <p>
                    Además, proporcionamos servicios de gestión de inventario, ventas y pedidos para ayudar a nuestros vendedores a optimizar sus operaciones y maximizar sus beneficios. Nuestro equipo de expertos utiliza las últimas tecnologías y estrategias para garantizar que cada aspecto de la gestión de inventario sea eficiente y efectivo. Nos enorgullece ser un socio confiable y estratégico en el mundo de las zapatillas exclusivas, ofreciendo soluciones personalizadas que se adaptan a las necesidades específicas de cada cliente.
                </p>
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <div class="banner-frame mx-auto">
                    <img class="img-thumbnail img-fluid" src="~/Assets/images/about-img.png" alt="" />
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Somos Confiables</h3>
                    <p>En Sole Stock Solutions, la confianza es la base de todas nuestras relaciones. Nos comprometemos a cumplir con nuestras promesas y a mantener la integridad en todas nuestras acciones.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Somos Profesionales</h3>
                    <p>Nuestro equipo está compuesto por expertos en la industria que se dedican a ofrecer soluciones de alta calidad y a brindar un servicio excepcional a nuestros clientes.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Somos Expertos</h3>
                    <p>Con años de experiencia en el sector, en Sole Stock Solutions tenemos el conocimiento y las habilidades necesarias para enfrentar cualquier desafío y ofrecer soluciones innovadoras.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Page -->